@import "tailwindcss";

html {
  scrollbar-color: #334155 #eee7dc;
  scrollbar-width: thin;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #eee7dc;
}

::-webkit-scrollbar-thumb {
  border: 3px solid #eee7dc;
  border-radius: 999px;
  background: #334155;
}

::-webkit-scrollbar-thumb:hover {
  background: #0f172a;
}
